*{
    font-family:'Times New Roman', Times, serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 50px;
}

.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 1.5em;
    transition: 0.9s ease-in;
    visibility: visible;
    font-style: italic;
}

.logo:hover{
    color: gold;
    transform:scale(1.1);
}


.bb a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.7s ease-in;
    letter-spacing: 4px;
    font-size: 1.5em;
    transition: 0.7s ease-out;

}

.bb a:hover{
    color: gold;
    transform: scale(1.1);

}

section{
    padding: 100px 50px;
}

.desc{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(MUA_3858.JPG); 
    background-size: cover;
}   


.desc h2{
    color: white;
    font-size: 1.9em;
    font-weight: 500;
}
    
.desc h2 span{
    color:greenyellow;
    display: inline-block;
    margin-top: 10px;
    font-size: 2em;
    font-weight: 600;
}

.desc h3{
    color:white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* .min-but{
    color: white;
    background-color: orange;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em  2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease-in;
}


.min-but:hover{
    background-color: rgb(0, 0, 255);
    transform: scale(1.1);
} */

.social-icon a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease-in;
}

.social-icon a :hover{
    transform: scale(1.1);
    color: gold;
}

.project .title{
    text-align: center;
    transition: 0.7s ease-in;
    letter-spacing: 30px;
    font-size: 1.5em;
    transition: 0.7s ease-in;
    color: grey;

}

.project .title:hover{
    color: rgb(0, 0, 255);
    transform: scale(1.1);

}

.project .content{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
}

.project .pro-card{
    /* background-color: red; */
    border-style: inherit;
    min-height: 5em;
    width: 23em;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: 20px;
    transition: 0.7s ease;
}

.project .pro-card:hover{
    opacity: 0.9;
    transition: 0.7s ease;
    transform: scale(1.1);
}

.pro-img  img{
    width: 100%;
    height: 600px;
}


.info-img{
    padding: 1em;
    font-size: 1.1.1em;
    text-align: center;    
}

.pro-title{
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.wading-info{
    text-decoration: none;
}

.footer{
    background-color: gray;
    color: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.footer :hover{
    transform: scale(1.1);

}

.services .title2{
    text-align: center;
    transition: 0.7s ease-in;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.5em;
    transition: 0.7s ease-in;
    color: gray;
}

.services .title2:hover{
    color: gold;
    transform: scale(1.1);
}

.name{
    text-align: center;
    transition: 0.7s ease-in;
    /* letter-spacing: 30px; */
    font-size: 1.5em;
    color: black;
}

@media(max-width:1023px)
{
    
}